<html>
  <head>
    <title>ahota.net()</title>
    <style>
      body {
        margin: 40px auto;
        width: 80ch;
        line-height: 1.6;
        font-size: 16px;
        font-family: monospace;
        color: #444;
        padding: 0 10px
      }
      h1,h2,h3 {
        line-height:1.2
      }
      pre {
        background-color: #eeeeee;
        padding: 5px 10px;
        margin: 0px;
      }
    </style>
  </head>
  <body>
    <h1>ahota.net()</h1>
    <em>ah! it worked!</em>

    <p>
    hi, this is my blog

    <h2>Posts</h2>

